# Python bytecode files
*.pyc
*.pyo
__pycache__/

# IDE / Editor config files
.idea/
.vscode/
*.swp
*.swo

# Virtual environments
.venv/
env/
venv/

# macOS system files
.DS_Store

# Windows system files
Thumbs.db

# Jupyter notebook checkpoints
.ipynb_checkpoints

# Logs
*.log

# Test and coverage reports
coverage/
*.cover
*.coverage
nosetests.xml
test-results/
